/* Az oldal hátterének színe */
body {
    background-image: url('images/background.jpg');
  }
  
  /* Az oldal szövegének alapértelmezett stílusa */
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #ce4949;
  }
  
  /* Az oldal főcímének stílusa */
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ce4949;
    margin-bottom: 20px;
  }
  
  /* Az oldal linkeinek stílusa */
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Az oldal gombjainak stílusa */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(bgweb.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  